@import "tailwindcss";
@import "tailwindcss-animated";

@theme {
  --color-primary: #7AB730;
  --color-secondary: #bde396;
  --color-hover-p: #5f8f25; 
  --color-light: #FFFFFF;
  --color-dark: #212121;
  --color-body-bg: #F3F3F3;
  --color-body-text: #8d8d8d;
  --color-headings: #212121;
}

:root {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #f3f3f3;
}
